<section class="modal-box">
    <div class="modal-header">

        <h3 class="modal-title">New Note</h3>
<!-- 
    </div>

    <div class="modal-body">

        <h5 class="modal-prompt">Title:</h5>

        <input type="text" name="input" ng-model="modal.addNote.title">

        <h5 class="modal-prompt">Details:</h5>

        <input type="textarea" name="input" ng-model="modal.addDetail.details">

    </div>

    <div class="modal-footer">

        <button class="btn-new" type="button" ng-click="modal.submit()">New Chat</button>

        <button class="btn-cancel" type="button" ng-click="modal.cancel()">Cancel</button> -->

    </div>
</section>
