<section class="modal-box">
    <div class="modal-body">

        <input id="modalTitle" type="text" name="input" ng-model="modal.addNote" placeholder="Untitled">

        <textarea id="modalTextArea" type="textarea" name="input" ng-model="modal.addDetail" placeholder="Just start typing here"></textarea>
    </div>

    <div class="modal-footer">

        <button class="btn-cancel" type="button" ng-click="modal.cancel()" required>Cancel</button>
        <button class="btn-new" type="button" ng-click="modal.submit()" required>Add</button>


    </div>
</section>
